{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To Ecommerce</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
<p align="justify"> 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec erat non ligula viverra lobortis. Donec ac nisi a massa consectetur auctor vel ac purus. Nam ut lobortis est, et laoreet risus. In hac habitasse platea dictumst. Morbi scelerisque enim convallis dui sagittis, non viverra urna laoreet. Phasellus fermentum feugiat quam, vel egestas mauris convallis non. Nulla facilisi. Phasellus condimentum arcu in aliquam vulputate. Nullam ut mi eu lectus consectetur rhoncus. Vivamus quis erat nisl. Quisque feugiat facilisis ligula et porttitor. Nulla consectetur id magna nec rhoncus.<br/><br/>
Ut volutpat, mi sit amet ullamcorper blandit, mauris nulla semper arcu, in malesuada orci erat at ex. Duis nec rutrum nisl. Etiam commodo eros nunc, euismod porta ligula facilisis at. Vivamus eu varius ipsum. Maecenas sollicitudin tristique blandit. Duis diam dolor, tristique quis posuere non, egestas in libero. Suspendisse at lacus nulla. Vestibulum risus neque, gravida blandit urna et, sodales ornare mi. Praesent lorem diam, blandit quis augue ac, euismod finibus turpis. Nam hendrerit viverra ex eu ornare. Nulla placerat pulvinar elit. Nunc sit amet risus suscipit, varius lorem eget, porttitor dolor. Mauris vulputate fringilla augue, a posuere sem sagittis id. Proin venenatis leo augue, sed imperdiet arcu gravida eget.<br/><br/>
Etiam a sollicitudin neque. In at quam in nunc placerat commodo id ut nisi. Duis tempor non metus in consectetur. Phasellus egestas leo nec tellus scelerisque, eu maximus orci imperdiet. Curabitur suscipit, sem sed interdum tristique, elit nisi porttitor urna, nec sodales tellus orci non mauris. Mauris feugiat lorem sed enim sodales pellentesque. Nunc mattis justo sed justo vulputate, sit amet cursus turpis malesuada. Maecenas porttitor purus et placerat efficitur. Sed dapibus scelerisque elit non pharetra. Aenean ac eros et sapien dictum sodales. Duis at enim tincidunt, suscipit augue ac, egestas tortor.
</p>
<br/><br/>
                    </div>
                </center>
            </div>
        </div>




{% endblock %}